<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.min (1).js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <div id="menuMovil">
        <input type="checkbox" class="checkbox" id="menu-toogle" />
        <label for="menu-toogle" class="menu-toogle"></label>

        <nav class="nav">
            <div class="logo">
                <img src="~/Content/logoBlanco.png" width="200" />
                <p>Mudanzas Flores</p>
            </div>
            <div class="nav__item current"><img src="~/Content/iconos/Home.png" />  @Html.ActionLink("Home", "Index", "Home")</div>
            <div class="nav__item"> <img src="~/Content/iconos/QuienesSomos.png" /> @Html.ActionLink("Nosotros", "Nosotros", "Home")</div>
            @if (Session["usuario"] == null)
            {
                <div class="nav__item"> <img src="~/Content/iconos/Usuarios2.png" /> @Html.ActionLink("Login", "Login", "Sesion")</div>
                    <div class="nav__item"><img src="~/Content/iconos/Registrar.png" /> @Html.ActionLink("Registrarse", "Registrarse", "Sesion")</div>
            }
            else
            {

                if (Session["usuario"].Equals("Admin"))
                {
                    <div class="nav__item"><img src="~/Content/iconos/Usuarios2.png" /> @Html.ActionLink("Usuarios", "Index", "Usuario")</div>
                            <div class="nav__item"><img src="~/Content/iconos/Servicios.png" /> @Html.ActionLink("Servicios", "Index", "Servicio")</div>
                }
                <div class="nav__item"><img src="~/Content/iconos/LogOut1.png" />@Html.ActionLink("Logout", "Logout", "Sesion")</div>
            }
        </nav>
    </div>

    <div id="wrapperMain">
        <header>

            <div id="wrapperHeader">
                <div class="logo">
                    <img src="~/Content/Logo Completo.png" />
                    <div class="izquierdo">
                        <nav class="menu">
                            
                            <p>Mándenos un Mail: <strong>mudanzasguaymas@gmail.com</strong> / Llámenos al Teléfono:<strong> 622-146-69-95</strong> <br /></p>
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("¿Quienes Somos?", "Nosotros", "Home")</li>
                                
                                @if (Session["usuario"] == null)
                                {
                                    <li>@Html.ActionLink("Login", "Login", "Sesion")</li>
                                    <li>@Html.ActionLink("Registrarse", "Registrarse", "Sesion")</li>

                                }
                                else
                                {
                                    
                                    if (Session["usuario"].Equals("Admin"))
                                    {
                                        <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                                        <li>@Html.ActionLink("Servicios", "Index", "Servicio")</li>
                                        <li>@Html.ActionLink("Citas", "Index", "Cita")</li>
                                    }
                                    <li>@Html.ActionLink("Logout", "Logout", "Sesion")</li>
                                    <li style="font-weight:900; color:#ff6a00;">@Session["email"]</li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="container body-content">
            @RenderBody()
            @Html.Raw(TempData["msg"])
            <br /><br /><br /><br />
            <footer>
                <img src="~/Content/edge-candy.svg" />
                <br />
                <div class="redesSociales">
                    <a href="https://www.facebook.com/MudanzasGuaymas">
                        
                </div>
                <p>&copy; @DateTime.Now.Year - © Copyright 2017 Fletes y Mudanzas Económicas Flores. Creador: ISW Guaymas</p>
            </footer>
        </div>
   </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
