@model IEnumerable<TestMVC.SrvUsuario.Usuario>

@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            NOmbre
        </th>
        <th>
            Coontraseña
        </th>
        <th>
            Telefono
        </th>
        <th>
           tipo
        </th>
        <th>
            email
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.usuario) {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.Nombre
        </td>
        <td>
           @item.Password
        </td>
        <td>
           @item.Telefono
        </td>
        <td>
            @item.Tipo
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
