@model MudanzasGuaymasWeb.SrvPreCita.preCita

@{
    ViewBag.Title = "Create";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="https://s3.amazonaws.com/files.bannersnack.net/banners/bxtkyhkkg/images/jpg" />
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>Apartar un cita</h2>
            <P>Ingrese su informacion!!</P>
            <img src="~/Content/edge-candy.svg" />
        </div>
    </div>
</section>
<div class="Formulario">
    <div class="Formulario2">
        @using (Html.BeginForm("subir", "Cita"))
        {
            @Html.AntiForgeryToken()
            <h4>Cita</h4>
            <div class="form-horizontal">
                
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "BotonEstilo", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "BotonEstilo" } })
                        @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "BotonEstilo" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "datepicker BotonEstilo", @type = "Date" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.id_Paquete)


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>