@model IEnumerable<MudanzasGuaymasWeb.SrvPreCita.preCita>

@{
    ViewBag.Title = "Index";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="~/Content/NumeroBannerTR.gif" />
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>Citas</h2>
            <P>Consulte sus citas aqui!!</P>
            <img src="~/Content/edge-candy.svg" />
        </div>
    </div>
</section>
<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="wrapperAgenda">
    <div class="contenedor">
        <h2>Citas Confirmadas</h2>
        <div class="cuadro">
            @foreach (var item in Model)
            {
            <div class="elemento">
                <table>
                    <tr>
                        <td class="izquierdo">Fecha: </td>
                        <td class="derecho">@Html.DisplayFor(modelItem => item.Fecha)</td>
                    </tr>
                    <tr>
                        <td class="izquierdo">Paquete</td>
                        <td class="derecho">
                            @foreach(var paquete in ViewBag.listaPaquetes){
                                if (paquete.Id == item.id_Paquete)
                                {
                                    @paquete.Nombre
                                    break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="izquierdo">Cliente</td>
                        <td class="derecho">
                        @foreach (var cliente in ViewBag.listaUsuarios)
                        {
                            if (cliente.Id == item.id_usuario)
                            {
                                @cliente.Nombre
                                break;
                            }
                        }</td>
                    </tr>
                </table>
            </div>
            }
        </div>
    </div>
    <div class="contenedor">
        <h2>Citas Pendientes</h2>
        <div class="cuadro">
            @foreach (var item in Model)
            {
                <div class="elemento">
                    <table>
                        <tr>
                            <td class="izquierdo">Fecha: </td>
                            <td class="derecho">@Html.DisplayFor(modelItem => item.Fecha)</td>
                        </tr>
                        <tr>
                            <td class="izquierdo">Paquete</td>
                            <td class="derecho">
                                @foreach (var paquete in ViewBag.listaPaquetes)
                                {
                                    if (paquete.Id == item.id_Paquete)
                                    {
                                        @paquete.Nombre
                                        break;
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="izquierdo">Cliente</td>
                            <td class="derecho">
                                @foreach (var cliente in ViewBag.listaUsuarios)
                                {
                                    if (cliente.Id == item.id_usuario)
                                    {
                                        @cliente.Nombre
                                        break;
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>