@model IEnumerable<MudanzasGuaymasWeb.SrvPreCita.preCita>

@{
    ViewBag.Title = "Index";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="~/Content/NumeroBannerTR.gif" />
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>Citas</h2>
            <P>Consulte sus citas aqui!!</P>
            <img src="~/Content/edge-candy.svg" />
        </div>
    </div>
</section>
<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="wrapperTable">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aceptado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_Paquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_usuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aceptado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Terminado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_Paquete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_usuario)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
