@model IEnumerable<MudanzasGuaymasWeb.SrvPreCita.preCita>

@{
    ViewBag.Title = "Index";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="~/Content/Banner1.png" />
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>Citas</h2>
            <P>Consulte sus citas aqui!!</P>
            <img src="~/Content/edge-candy.svg" />
        </div>
    </div>
</section>
<h2></h2>
<a  href="@Url.Action("Historial", "Cita")">
   <p>    Ir al historial Historial</p>
</a>
<div id="wrapperAgenda">

        <div class="contenedor">
            <h2>Citas Confirmadas</h2>
            <div class="cuadro">
                @foreach (var item in Model)
                {
                    if (item.Aceptado==true && item.Terminado==false) { 
                    <div class="elemento">
                        <table>
                            <tr>
                                <td class="izquierdo">Fecha: </td>
                                <td class="derecho">@Html.DisplayFor(modelItem => item.Fecha)</td>
                            </tr>
                            <tr>
                                <td class="izquierdo">Paquete</td>
                                <td class="derecho">
                                    @foreach (var paquete in ViewBag.listaPaquetes)
                                    {
                                        if (paquete.Id == item.id_Paquete)
                                        {
                                            @paquete.Nombre
                                            break;
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="izquierdo">Cliente</td>
                                <td class="derecho">
                                    @foreach (var cliente in ViewBag.listaUsuarios)
                                    {
                                        if (cliente.Id == item.id_usuario)
                                        {
                                            @cliente.Nombre
                                            break;
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                        <a href="@Url.Action("Details", "Cita",new {id = item.Id}, null)"><img src="~/Content/iconos/edit schedule.png" /> </a>
                        <a href="@Url.Action("Terminar", "Cita",new {id = item.Id}, null)">  <img src="~/Content/iconos/history.png" /> </a>
                    </div>
                    }
                }
            </div>
        </div>
        <div class="contenedor">
            <h2>Citas Pendientes</h2>
            <div class="cuadro">
                @foreach (var item in Model)
                {
                    if (item.Aceptado == false && item.Terminado == false)
                    {
                    <div class="elemento">
                        <table>
                            <tr>
                                <td class="izquierdo">Fecha: </td>
                                <td class="derecho">@Html.DisplayFor(modelItem => item.Fecha)</td>
                            </tr>
                            <tr>
                                <td class="izquierdo">Paquete</td>
                                <td class="derecho">
                                    @foreach (var paquete in ViewBag.listaPaquetes)
                                    {
                                        if (paquete.Id == item.id_Paquete)
                                        {
                                            @paquete.Nombre
                                            break;
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="izquierdo">Cliente</td>
                                <td class="derecho">
                                    @foreach (var cliente in ViewBag.listaUsuarios)
                                    {
                                        if (cliente.Id == item.id_usuario)
                                        {
                                            @cliente.Nombre
                                            break;
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                        <a href="@Url.Action("Confirmar", "Cita",new {id = item.Id}, null)"><img src="~/Content/iconos/confirm.png" /> </a>
                        <a href="@Url.Action("Eliminar", "Cita",new {id = item.Id}, null)"><img src="~/Content/iconos/cancel.png" /> </a>
                        <a href="@Url.Action("Details", "Cita",new {id = item.Id}, null)"><img src="~/Content/iconos/edit schedule.png" /> </a>
                    </div>
                    }
                }
            </div>
        </div>
</div>

<div class="instrucciones">
    <p>Instrucciones</p>
    <div>
        <img src="~/Content/iconos/confirm.png" /> <span>Sirve Para confirmar Las citas a los usuarios.</span>
    </div>
    <div>
        <img src="~/Content/iconos/cancel.png" /> <span>Elimina la cita antes de confirmarla.</span>
    </div>
    <div>
        <img src="~/Content/iconos/edit schedule.png" /> <span>Permite ver detalles de la cita.</span>
    </div>
    <div>
        <img src="~/Content/iconos/history.png" /> <span>Marca como terminada una cita y la envia a la pestaña historial.</span>
    </div>
    <div>
        <img src="~/Content/iconos/delete.png" /> <span>Elimina la cita que se encuentra en el historial.</span>
    </div>
    <div>
        <img src="~/Content/iconos/historyicon.png" /> <span>Permite al usuario regresar una cita que se encuentra en el historial.</span>
    </div>
</div>