@model MudanzasGuaymasWeb.SrvPaquete.Paquete

@{
    ViewBag.Title = "Create";
}
<div class="Formulario">
    <div class="Formulario2">
        <h2>Create</h2>
        @using (Html.BeginForm("subir", "Paquete"))
        {
            @Html.AntiForgeryToken()
            <h4>Paquete</h4>
            <div class="form-horizontal">
               
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "BotonEstilo", @required = true } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { cols = 35, rows = 3, @required = true } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input id="id_Servicio" type="hidden" name="id_Servicio" value="@ViewBag.id_Servicio" />
                <div class="form-group">
                    @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "BotonEstilo", @required = true } })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "BotonEstilo", @required = true } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Unidad, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Unidad, new { htmlAttributes = new { @class = "BotonEstilo", @required = true } })
                        @Html.ValidationMessageFor(model => model.Unidad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
