
@{
    ViewBag.Title = "Index";
}

<div id="wrapperPaquete">
    <section>
        <div id="wrapperBanner">
            <div class="background">
                <div class="banner">
                    <img src="http://mudalia.com/wp-content/files_mf/cache/th_89addcaab11e02421fc7d7edf27d0305_1450351953bannermudalia.png" />
                </div>
            </div>
            <div class="raya"></div>
            <div class="slogan">
                <h2>@ViewBag.nombre</h2>
               
            </div>
        </div>
    </section>
    <div class="separador"></div>
    <section>
        <div id="wrapperPaquetes">
            @if (Session["usuario"] != null)
            {
                if (Session["usuario"].Equals("Admin"))
                {<p> @Html.ActionLink("Agregar Paquete", "Create", "Paquete", new { id = ViewBag.id }, null)</p> }

            }
            @foreach (var item in ViewBag.paquete)
            {
                if (item.Mostrar || (Session["usuario"] != null && Session["usuario"].Equals("Admin")))
                {
                <article>
                    <img src="@item.Imagen" />
                    <div class="hover">
                        <h2>@item.Nombre</h2>
                        <h4>$@item.Precio X @item.Unidad</h4>
                        <div class="@item.Id descripcion">
                            @if (item.Descripcion.Length > 100)
                            {<p>@item.Descripcion.ToString().Substring(0, 99) →</p>}
                            else
                            {
                                {<p>@item.Descripcion.ToString() →</p>}
                            }
                            <h6>@Html.ActionLink("Ver Mas", "Post", "Paquete", new { id = item.Id }, null)</h6>

                        </div>
                        <div class="Controles">
                            @if (Session["usuario"] != null)
                            {
                                if (Session["usuario"].Equals("Admin"))
                                {
                                    <p>@Html.ActionLink("[Editar]", "Edit", "Paquete", new { id = item.Id }, null)</p>
                                    if (item.Mostrar)
                                    {
                                        <p>@Html.ActionLink("[No Mostrar]", "NoMostrar", "Paquete", new { id = item.Id }, null)</p>
                                    }
                                    else
                                    {
                                        <p>@Html.ActionLink("[Mostrar]", "Mostrar", "Paquete", new { id = item.Id }, null)</p>
                                    }
                                }
                            }
                        </div>

                    </div>
                </article>
                }
            }
        </div>
        <div style="clear:both"></div>
    </section>
</div>