@model MudanzasGuaymasWeb.SrvServicio.Servicio

@{
    ViewBag.Title = "Create";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="~/Content/Banner1.png" />
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>Create</h2>
            <P>Ingrese su informacion!!</P>
            <img src="~/Content/edge-candy.svg" />
        </div>
    </div>
</section>
<div class="Formulario">
    <div class="Formulario2">
       
        @using (Html.BeginForm("subir", "Servicio", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h4>Servicio</h4>
            <div class="form-horizontal">      
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "BotonEstilo", @required = true } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "", @required = true } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "LabelEstilo" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "BotonEstilo", @required = true } })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>
</div>